Logic Apps Connectors/Salesforce/Use case 1_Ticket Closure/Ticket_Closure_Swagger.txt
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "Condition": {
                "actions": {
                    "Adding_the_note_to_response": {
                        "inputs": {
                            "authentication": {
                                "password": "{Expereince Management APIKey or Password}",
                                "type": "Basic",
                                "username": "{Expereince Management Username}"
                            },
                            "body": {
                                "note": "Case Number:@{triggerBody()?['CaseNumber']} is Updated status: @{triggerBody()?['Status']}"
                            },
                            "method": "POST",
                            "uri": "https://api.getcloudcherry.com/api/Answers/Note/@{triggerBody()?['WXM_Response_Id__c']}"
                        },
                        "runAfter": {},
                        "type": "Http"
                    }
                },
                "expression": {
                    "or": [
                        {
                            "not": {
                                "equals": [
                                    "@triggerBody()?['Status']",
                                    "Closed"
                                ]
                            }
                        },
                        {
                            "equals": [
                                "@triggerBody()?['Status']",
                                "Closed"
                            ]
                        }
                    ]
                },
                "runAfter": {
                    "Survey_link": [
                        "Succeeded"
                    ]
                },
                "type": "If"
            },
            "Condition_2": {
                "actions": {
                    "Append_to_string_variable": {
                        "inputs": {
                            "name": "SuveyLink",
                            "value": "@body('Parse_JSON')?['id']"
                        },
                        "runAfter": {
                            "Parse_JSON": [
                                "Succeeded"
                            ]
                        },
                        "type": "AppendToStringVariable"
                    },
                    "HTTP": {
                        "inputs": {
                            "authentication": {
                                "password": "{Expereince Management APIKey or Password}",
                                "type": "Basic",
                                "username": "{Expereince Management Username}"
                            },
                            "body": {
                                "location": "5f17d328480a140a2c0c1df8",
                                "prefill": [
                                    {
                                        "numberInput": 0,
                                        "questionId": "5f087f8235212616cc9d3662",
                                        "questionText": "Name of the Customer",
                                        "textInput": "@{triggerBody()?['SuppliedName']}"
                                    },
                                    {
                                        "numberInput": 0,
                                        "questionId": "5f17d8b65248ac19c0922b0f",
                                        "questionText": "Salesforce Case ID",
                                        "textInput": "@{triggerBody()?['CaseNumber']}"
                                    },
                                    {
                                        "numberInput": 0,
                                        "questionId": "5f17d8b65248ac19c0922b10",
                                        "questionText": "Agent Name",
                                        "textInput": "@{triggerBody()?['OwnerId']}"
                                    },
                                    {
                                        "numberInput": 0,
                                        "questionId": "5f17d2fb480a140a2c0c1ded",
                                        "questionText": "Email",
                                        "textInput": "@{triggerBody()?['Email__c']}"
                                    }
                                ],
                                "validTill": 30,
                                "validUses": 1
                            },
                            "method": "POST",
                            "uri": "https://api.getcloudcherry.com/api/SurveyToken"
                        },
                        "runAfter": {},
                        "type": "Http"
                    },
                    "Parse_JSON": {
                        "inputs": {
                            "content": "@body('HTTP')",
                            "schema": {
                                "properties": {
                                    "browserQuestion": {},
                                    "browserVersionQuestion": {},
                                    "campaign": {},
                                    "cityQuestion": {},
                                    "classicCaptcha": {
                                        "type": "boolean"
                                    },
                                    "commonIdentifier": {},
                                    "countryQuestion": {},
                                    "created": {
                                        "type": "string"
                                    },
                                    "deliveryPlanId": {},
                                    "deviceBrandQuestion": {},
                                    "deviceQuestion": {},
                                    "dispatchId": {},
                                    "displayExitMessage": {},
                                    "displayExpiredMessage": {},
                                    "doNotPartialSubmit": {
                                        "type": "boolean"
                                    },
                                    "doNotSocialShare": {},
                                    "emailOpenUA": {},
                                    "emailQuestion": {},
                                    "evalFilter": {},
                                    "externalApiPostURLEval": {},
                                    "id": {
                                        "type": "string"
                                    },
                                    "ipAddressQuestion": {},
                                    "isDeliveryTypePull": {
                                        "type": "boolean"
                                    },
                                    "isEmailed": {
                                        "type": "boolean"
                                    },
                                    "isPrinted": {
                                        "type": "boolean"
                                    },
                                    "lastDeliveryException": {},
                                    "lastDeliveryRun": {},
                                    "lastInviteDelivery": {},
                                    "lastInviteOpen": {},
                                    "lastSequenceDeliveryRun": {},
                                    "lastSurveyIssue": {},
                                    "lastSurveyIssueChannel": {},
                                    "listenFromTwitter": {},
                                    "location": {
                                        "type": "string"
                                    },
                                    "nextDeliveryRun": {},
                                    "note": {},
                                    "osQuestion": {},
                                    "perSamplePresent": {
                                        "type": "integer"
                                    },
                                    "preFill": {},
                                    "preFillViaAPICallBack": {},
                                    "preferredLanguage": {},
                                    "regionQuestion": {},
                                    "requireCaptcha": {
                                        "type": "boolean"
                                    },
                                    "restrictBySignature": {},
                                    "restrictFromIPSpace": {},
                                    "restrictOnWebDomain": {},
                                    "rewardCode": {},
                                    "samplingMode": {
                                        "type": "boolean"
                                    },
                                    "skipWelcome": {
                                        "type": "boolean"
                                    },
                                    "stateQuestion": {},
                                    "tagAlongTokens": {},
                                    "uaQuestion": {},
                                    "user": {
                                        "type": "string"
                                    },
                                    "validAfter": {},
                                    "validTill": {},
                                    "validUses": {
                                        "type": "integer"
                                    }
                                },
                                "type": "object"
                            }
                        },
                        "runAfter": {
                            "HTTP": [
                                "Succeeded"
                            ]
                        },
                        "type": "ParseJson"
                    },
                    "Send_Email_(V3)": {
                        "inputs": {
                            "body": {
                                "Body": "<p>Dear @{triggerBody()?['SuppliedName']}, <br>\n<br>\nOur endeavour is to deliver delightful experiences at every interaction. Help us understand if we are keeping up to our mission! Please share your valuable feedback on your recent support experience on the below support ticket. <br>\n<br>\n<br>\nCase ID: @{triggerBody()?['CaseNumber']} &nbsp;<br>\n<br>\nSurveyLink: @{variables('SuveyLink')}<br>\n<br>\nRegards, <br>\nCumulus Support</p>",
                                "From": "From Email Address,
                                "Subject": "Please provide your valuable feedback for Case ID : @{triggerBody()?['CaseNumber']}  ",
                                "To": "@triggerBody()?['Cloudcherry_1__Emailres_c__c']"
                            },
                            "host": {
                                "connection": {
                                    "name": "@parameters('$connections')['smtp']['connectionId']"
                                }
                            },
                            "method": "post",
                            "path": "/SendEmailV3"
                        },
                        "runAfter": {
                            "Append_to_string_variable": [
                                "Succeeded"
                            ]
                        },
                        "type": "ApiConnection"
                    }
                },
                "expression": {
                    "and": [
                        {
                            "equals": [
                                "@triggerBody()?['Status']",
                                "Closed"
                            ]
                        }
                    ]
                },
                "runAfter": {
                    "Condition": [
                        "Succeeded"
                    ]
                },
                "type": "If"
            },
            "Survey_link": {
                "inputs": {
                    "variables": [
                        {
                            "name": "SuveyLink",
                            "type": "string",
                            "value": " http://nps.bz/"
                        }
                    ]
                },
                "runAfter": {},
                "type": "InitializeVariable"
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "parameters": {
            "$connections": {
                "defaultValue": {},
                "type": "Object"
            }
        },
        "triggers": {
            "When_a_record_is_modified": {
                "inputs": {
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['salesforce']['connectionId']"
                        }
                    },
                    "method": "get",
                    "path": "/datasets/default/tables/@{encodeURIComponent(encodeURIComponent('Case'))}/onupdateditems"
                },
                "recurrence": {
                    "frequency": "Second",
                    "interval": 1
                },
                "splitOn": "@triggerBody()?['value']",
                "type": "ApiConnection"
            }
        }
    },
    "parameters": {
        "$connections": {
            "value": {
                  "salesforce": {
                    "connectionId": "/subscriptions/7cc7e59f-8d1c-429a-929a-26cbcff44311/resourceGroups/Global/providers/Microsoft.Web/connections/salesforce-20",
                    "connectionName": "salesforce-0",
                    "id": "/subscriptions/7fc7e59f-8d1c-4297-929a-27cbcff44311/providers/Microsoft.Web/locations/southindia/managedApis/salesforce"
                },
                "smtp": {
                    "connectionId": "/subscriptions/7fc7e59f-8d1a-429a-929a-27cbcff44321/resourceGroups/Global/providers/Microsoft.Web/connections/smtp",
                    "connectionName": "smtp",
                    "id": "/subscriptions/7fc7e59f-8d1c-4296-929a-27cbcff43311/providers/Microsoft.Web/locations/southindia/managedApis/smtp"
                }
            }
        }
    }
}